*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blocco-roma{
  position: relative;
  display: inline-block;
  width: 100vw;
  height:33vh;
  background-image: url("immagini/roma.jpg");
  background-size: cover;
  background-position: center;
}

.blocco-copenaghen{
  position: relative;
  display: inline-block;
  width: 100vw;
  height:33vh;
  background-image: url("immagini/copenaghen.jpg");
  background-size: cover;
  background-position: center;
}

.blocco-tokio{
  position: relative;
  display: inline-block;
  width: 100vw;
  height:33vh;
  background-image: url("immagini/tokio.jpg");
  background-size: cover;
  background-position: bottom;
}

.oscuramento{
  width: 100vw;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.city-name{
  position: absolute;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 70px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
